body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    transition: 1s;
}
#backgroundgta6home {
    position: relative;
    text-align: center;
}
#backgroundgta6home img {
    width:100%
}
p {
    color: black;
}
.nav {
    background-color: #333333;
    color: white;
    overflow: hidden;
    
}
a {
    text-decoration: none;
    color: inherit;
}
.nav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: ease 0.5s;
    animation-fill-mode: both;
    font-size: 1.3rem;
}
.nav a:hover {
    color: #ffff99;
}
#okejcom {
    float: right;
    margin-right: 50px;
}
#imgokejcom {
    width: 2rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
footer {
    background-color: white;
    margin-top: 50px;
    padding-top: 15px;
    width: 100%;
    height: 50px;
    text-align: center;
}
.ikonyfooter {
    display: inline;
    width: 35px;
    height: 35px;
    font-size: 35px;
    margin: 10px;
    color: #333333;
}
#pytaniabignapis {
    font-size: 1.4rem;
    text-decoration: underline #ffff99;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}
#interaktywnePytaniaIOdpowiedzi {
    border: 1px solid black;
    width: 90%;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
}
.pytanie {
    font-size: 0.9rem;
}
.odpowiedz {
    font-size: 0.85rem;
}
#zadaj {
    width: 700px;
    height: 20px;
    outline: none;
}
#wyslij {
    width: 50px;
    height: 20px;
    float: right;
    outline: none;
}